<form id="make-blog" class="mt-5 mx-5">
    <div class="container">
    <label for="blog_title" class="is-size-5 is-bold">Blog Title:</label>
    <input type="text" name="blog_title" id="blog_title" class="input">
    <label for="blog_title" class="is-size-5">Blog Text:</label>
    <textarea type="text" name="blog_text" id="blog_text" class="textarea"></textarea>
    <div class="container mx-5">
    <button class="button mt-4 has-background-success has-text-white is-fullwidth" type="submit">Create Blog</button>
    </div>
    </div>
</form>

<script src="/javascript/create-blog.js"></script>