<div class="container p-3">
    <div class="card">
        <header class="card-header has-background-dark has-background-primary-dark px-1">
            <div class="container">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <h3 class="is-size-3 has-text-light has-text-weight-bold">{{blog_title}}</h3>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <h5 class="has-text-light">Posted by <strong>{{user.username}}</strong> on {{formatDate createdAt}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="card-content has-background-primary-light">
            <div class="content">
                {{blog_text}}
            </div>
        </div>
    </div>
</div>