<!DOCTYPE html>
<html lang="en" class="has-background-info-light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <title>TechNoBlog</title>
</head>
<div class="container is-fullhd">
    <div class="notification has-background-link-dark">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <header>
                    <h1 class="is-size-2 has-text-white has-text-weight-bold">Tech No Blog</h1>
                    </header>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <nav>
                        <a href="/" class="button is-small is-size-6 has-background-primary-light has-text-weight-bold has-text-link-dark mr-2">Home</a>
                        {{#if loggedIn}}
                        <a href="/dashboard" class="button is-small is-size-6 has-text-weight-bold has-text-link-dark has-background-primary-light mr-2">Dashboard</a>
                        <button id="logout" class="button is-small is-size-6 has-text-weight-bold has-text-link-dark has-background-primary-light">Logout</button>
                        {{else}}
                        <a href="/login" class="button has-text-weight-bold is-small is-size-6 has-text-link-dark has-background-primary-light">Login</a>
                        {{/if}}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<body>
    {{{body}}}
</body>
</html>

{{!-- {{#if sesson.loggedIn}} --}}
<script src="/javascript/logout.js"></script>
{{!-- {{/if}} --}}