<div class="container m-6">
    <h3 class="is-size-3 mb-2">Log In:</h3>
    <form>
        <label for="username">Username:</label>
        <input type="text" class="input mt-2" name="username-login" id="username-login">
        <label for="password">Password:</label>
        <input type="password" class="input mt-2" name="password-login" id="password-login">
        <button type="submit" id="login" class="button mt-4 mb-3">Login</button>
        <div>
        <a href="/signup">Sign up</a>
        </div>
    </form>
</div>

<script src="/javascript/login.js"></script>