<div class="container m-6">
    <h3 class="is-size-3 mb-2">Sign Up:</h3>
    <form id="sign-up">
        <label for="username">Username:</label>
        <input type="text" class="input mt-2" name="username_signup" id="username_signup">
        <label for="password">Password:</label>
        <input type="password" class="input mt-2" name="password_signup" id="password_signup">
        <button type="submit" id="signup" class="button mt-4 mb-3 has-background-success has-text-white">Sign up</button>
    </form>
</div>

<script src="/javascript/signup.js"></script>