<div class="container m-6">
    <h3 class="is-size-3 mb-2">Sign In:</h3>
    <form>
        <label for="username">Username:</label>
        <input type="text" class="input mt-2">
        <label for="password">Password:</label>
        <input type="password" class="input mt-2">
        <button type="submit" id="signup" class="button mt-4 mb-3">Sign up</button>
    </form>
</div>