
{{> blog-post blog}}
{{!--Comment --}}
<div class="container">
    <div class="columns is-mobile">
        <div class="column">
            <div class="container mx-4">
                <div class="card">
                {{#each comments as |comment|}}
                    <header class="card-header has-background-dark p-1">
                            <div>
                                <h3 class="has-text-light is-size-4">Comment by {{comment.user.username}} </h3>
                                <h5 class="has-text-light is-size-6">on {{ formatDate comment.createdAt}}</h5>
                            </div>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {{comment.comment_text}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{!-- Add Comments --}}
{{#if loggedIn}}
            <div class="column">
                    <div class="container mx-4">
                    <div class="column">
                <form id="post_comment">
                    <div class="container">
                    <textarea type="text" class="textarea is-primary" placeholder="Write comment here" name="comment_text" id="comment_text"></textarea>

                    <button type="submit" class="button mt-4 has-background-primary has-text-white">Post Comment</button>
                    </div>
                </form>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<script src="/javascript/add-comment.js"></script>
